* {
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
}

.header, .hero, .footer {
    background-color: #1f2937;
}

button, .banner {
    background-color: #3882f6;
}

.header {
    color: white;
    border: 2px solid red;
}

nav {
    display: flex;
    justify-content: space-around;
}

ul {
    list-style: none;
}
.right-nav {
    display: flex;
    gap: 16px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.hero {
    border: 2px solid black;
    display: flex;

}


.hero-maintext{
    font-size: 48px;
    color: #F9faf8;
    font-weight: 900;
}

.hero-left-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.body {
    border: 2px solid yellow;
}

.cards {
    border: 2px solid orange;
}

.quoterow {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
    border: 2px solid blue;
}

.bannerrow {
    border: 2px solid magenta;
}

