* {
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 16px;
}

.header,.hero, .footer {
    background-color: #1f2937;
}

.container.header-inner {
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.nav-links {
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero {
    padding: 110px 0 133px;
}

.hero-text {
    flex: 452 1 0;
}

.hero-text h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 8px;
    margin-top: 8px;
}
.hero-text button {
    border-radius: 8px;
    padding: 8px 32px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border: none;
}

.hero-image {
    display: flex;
    min-height: 235px;
    flex: 520 1 0;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background-color: gray;
    color: white;
    font-size: 18px;
}

.hero-inner {
    display: flex;
    align-items: flex-start;
    gap: 50px;
}

button, .cta-box {
    background-color: #3882f6;
}

.info {
    padding: 48px 0 120px;
}

.info-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-bottom: 48px;
}

.info .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card {
    width: 165px;
}

.card-box {
    border: 4px solid #3882f6;
    height: 165px;
    border-radius: 16px;
    margin-bottom: 8px;
}

.card-text {
    color: gray;
    font-size: 18px;
    text-align: center;
}

.quote-section {
    padding: 128px 0;
    background-color: #e5e7eb;
    
}

.quote-container {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  */
    max-width: 823px;
    margin: 0 auto;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

.quote-author {
    text-align: right;
    font-size: 24px;
    font-weight: 900;
}

.cta {
    padding: 126px 0;
}

.cta-box {
    display: flex;
    justify-content: center;
    padding: 48px 120px;
}

