* {
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

.container {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25%;
    gap: 32px;
}

.container.hero {
    padding-top: 96px;
    padding-bottom: 96px;
}

.hero-left button {
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border: none;
    padding: 8px 32px;
}

button, .banner {
    background-color: #3882f6;
}

.header {
    color: white;
    border: 2px solid red;
}

ul {
    list-style: none;
}
.right-nav {
    display: flex;
    gap: 16px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.hero {
    border: 2px solid black;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    
}

.hero-left {
    flex: 452 1 0;
}

.img-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7d828b;
    color: #f0f0f0;
    font-size: 18px;
    text-align: center;
    border: 1px solid red;
    padding: 16px;
    flex: 520 1 0;
}

.hero-maintext{
    font-size: 48px;
    color: #F9faf8;
    font-weight: 900;
    margin-bottom: 8px;
}

.hero-left-subtext {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 8px;
}

.body {
    border: 2px solid yellow;
    display: flex;
    flex-direction: column;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-container h2 {
    text-align: center;
    margin: 36px 0;
    font-size: 36px;
    font-weight: 900;
}

.cards {
    border: 2px solid orange;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.card-box {
    border: 4px solid  blue;
    height: 165px;
    width: 165px;
    border-radius: 16px;
}

.card p {
    margin-top: 8px;
    font-size: 18px;
    text-align: center;
}

.quoterow {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
    border: 2px solid blue;
}

.bannerrow {
    border: 2px solid magenta;
}